.App-header {
  background-color: #1899d5;
  width: 100%;
  padding: 24px;
}

.App-header h1 {
  margin: 0;
  color: #fff;
}

.App-content {
  padding: 12px;
  max-width: 1200px;
  margin: 0 auto;
}

.content-title {
  text-align: center;
}

.contact-section {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
